body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
}

.bold {
	font-weight: bold;
}

.fcoo-layercontrol-header {
	font-size: larger;
	font-weight: bold;
	display: block;
	position: relative;
}

.fcoo-title {
	font-size: larger;
	font-weight: bold;
	display: block;
        background-color: white;
	position: relative;
        z-index: 9999;
}

.icon-location {
        font-size: 18px;
}

.icon-spinner {
        font-size: 18px;
}

/*@media screen {
    html { width:8.5in; }
    body { font: 9pt/1.5 Arial, sans-serif; }
}*/

@media print {
    body {
        size: A4 landscape;
    }
    @page {
        /*size: A4;*/
        size: landscape;
        margin: 0;
    }
    * {
        overflow: visible !important;
        position: relative;
    }
    .hide-on-print {
        visibility: hidden;
    }
    .show-on-print {
        visibility: visible;
    }
}

@media screen and (max-width: 640px), screen and (max-height: 640px) {
    .hide-on-small {
        visibility: hidden;
        display: none;
    }
    .show-on-small {
        visibility: visible;
        display: block;
    }
}
