/* 
	SCSS for start page of ifm.fcoo.dk
*/


//Default = lang-da

.show-for-lang-da	{ display: inherit	!important; }
.show-for-lang-en	{ display: none			!important;	}

.lang-en {
	.show-for-lang-en	{ display: inherit	!important;	}
	.show-for-lang-da	{ display: none			!important;	}
}




body {
	background-color: white;
	margin: 0;
	padding: 0;
	overflow: hidden;

	.container {
		box-sizing: border-box;
		margin		: 0 auto;

		width			: 100%;
		max-width	: 480px;
		min-width	: 280px;

		height			: 100%;
		min-height	: 480px;
	}

	.logo, select, #map  {
		display: block;
		margin: 0 auto;
		padding: 0;
	}
	h1 {
		margin: 5px;
		text-align: center;
		color: #1c4b88;
    font-size: 16pt;
    font-weight: bold;
		font-family: Tahoma,​Helvetica,​sans-serif;
	}
	select {
		width: 250px;
	}
	select, select option {
		color: #1c4b88;
    font-size: 12pt;
    font-weight: bold;
		font-family: Tahoma,​Helvetica,​sans-serif;
		text-align: center;
		text-align-last:center; //Chrome
	}

	#map {
		margin-top: 10px;
		width			: 100%;
		height		: 300px;
	}
	@media screen and (min-height: 481px) and (max-height: 568px)	{ #map {height: 380px;	} }
	@media screen and (min-height: 569px) and (max-height: 640px)	{ #map {height: 450px;	} }
	@media screen and (min-height: 641px)													{ #map {height: 550px;	} }
}
