.ui-slider {
    background: #E50000;
}
.ui-slider-range {
    /*background: linear-gradient(to right, #00CC00, #ECE903, #E50000);*/
    background: #ECE903;
}
.slider-green {
    float: left;
    height: 100%;
    width: 100%;
    background: #00CC00;
    border-radius: 0 4px 4px 0;
}

.fcoo-legend-image {
    border: 0px;
    height: 70px;
    width: 250px;
}

.fcoo-legend-slider {
    width: 90%;
    margin-left: 5%:
}

.fcoo-legend-item-title {
    padding: 0px;
    border: 0px;
    margin: 2px;
    width: 300px;
}

.fcoo-legend-slider-info-green {
    background: #00CC00;
    margin: 2px;
}

.fcoo-legend-slider-info-yellow {
    background: #ECE903;
    margin: 2px;
}

.fcoo-legend-slider-info-red {
    background: #E50000;
    margin: 2px;
}

.fcoo-legend-slider-info {
    text-align: center;
    padding: 0px;
    border: 0px;
    margin: 2px;
}

.fcoo-legend-slider-info-input {
    text-align: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.fcoo-legend-slider-div {
    width: 90%;
    margin-left: 5%:
}
