.leaflet-control-datetime-title {
	font-size: larger;
	font-weight: bold;
	display: block;
	position: relative;
}

.leaflet-control-datetime-dateselect {
	font-size: normal;
	font-weight: normal;
	display: block;
	position: relative;
}

.leaflet-control-datetime-localtime {
	display: inline-block;
} 

.leaflet-control-datetime-float-left {
	float: left;
}

.leaflet-control-datetime-mleft {
	margin-left: 7px;
}

.leaflet-control-datetime-datediv {
	cursor: pointer; 
}

.leaflet-control-datetime-clearfloat {
	clear: all;
}

#leaflet-control-datetime-range {
        height:100%;
        top: 0;
        width: 0%;
        background: #3BF107;
}
