<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<!-- 
*****************************************************
OWNER         : FCOO - Forsvarets Center for Operativ Oceanografi /
                       Defence Centre for Operational Oceanography
APPLICATION   : {APPLICATION_NAME}
GITHUB VERSION: {VERSION}
BUILD         : {BUILD} 

CONTACT       : info@fcoo.dk
*****************************************************
-->

<html lang="da" style="font-size: 100%">

<head>
	<title>{TITLE}</title>
    <meta charset="utf-8" />
    <meta http-equiv='x-dns-prefetch-control' content='on'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name='copyright' content='fcoo.dk'>
	<meta name='owner' content='fcoo.dk'>


  <link  href="{CSS_FILE_NAME}" rel="stylesheet">	
	
</head>
<body class="loading">
    <div class="loading"></div>
    <div id="map"></div>

	<script type="text/javascript" src="{JS_FILE_NAME}"></script>

    <!-- Piwik -->
<!-- 
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['disableCookies']);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//analytics.fcoo.dk/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>

    <noscript>
        <p><img src="//analytics.fcoo.dk/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p>
    </noscript>
-->
    <!-- End Piwik Code -->

</body>
</html>
