#map {
  height: 100%; }

/* Container for multiple maps on a page */
.map-container {
  border: 1px solid black;
  margin: 2px;
  float: left; }

.fcoo-layercontrol-header {
  font-size: larger;
  font-weight: bold;
  display: block;
  position: relative; }

.fcoo-title {
  font-size: larger;
  font-weight: bold;
  display: block;
  background-color: white;
  position: relative;
  z-index: 9999; }

.icon-location {
  font-size: 18px; }

.icon-spinner {
  font-size: 18px; }

/*@media screen {
    html { width:8.5in; }
    body { font: 9pt/1.5 Arial, sans-serif; }
}*/
@media print {
  body {
    size: A4 landscape; }
  @page {
    /*size: A4;*/
    size: landscape;
    margin: 0; }
  * {
    overflow: visible !important;
    position: relative; } }
