.leaflet-print-print {
    background: #fff url(images/printer.png) no-repeat 50% 50%;
}

.leaflet-print-actions {
    display: none;
    list-style: none;
    position: absolute;
    margin: 0;
    left: 26px;
    top: 0;
    padding: 0;
    /*box-shadow: 0 1px 5px rgba(0,0,0,0.65);*/
    background: #fff;
    border-radius: 4px;
}

.leaflet-right .leaflet-print-actions {
    right: 26px;
    left: auto;
}

.leaflet-print-actions li {
    float: left;
}

.leaflet-print-actions li:first-child a {
    border-left: none;
}

.leaflet-print-actions li:last-child a {
    border-radius: 0 4px 4px 0;
}

.leaflet-right .leaflet-print-actions li:first-child a {
    border-radius: 4px 0 0 4px;
}

.leaflet-right .leaflet-print-actions li:last-child a {
    border-radius: 0;
}

.leaflet-left .leaflet-print-actions-visible a:first-child {
    border-top-right-radius: 0;
}

.leaflet-left .leaflet-print-actions-visible a:last-child {
    border-bottom-right-radius: 0;
}

.leaflet-right .leaflet-print-actions-visible a:first-child {
    border-top-left-radius: 0;
}

.leaflet-right .leaflet-print-actions-visible a:last-child {
    border-bottom-left-radius: 0;
}

.leaflet-print-actions a {
    display: block;
    text-align: center;
    text-decoration: none;
    /*background-color: #919187;*/
    background-color: #FFF;
    border-left: 1px solid #AAA;
    /*color: #FFF;*/
    color: black;
    font: 11px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 26px;
    text-decoration: none;
    width: 100px;
    height: 26px;
}

.leaflet-print-actions a:hover {
    background-color: #A0A098;
}
